.banner {
    width: 100%;
}

.goods-item {
    margin-top: 10px;
}

.goods-img {
    width: 130px;
    height: 130px;
    float: left;
    margin: 0 6px;
}

.goods-img .main-img{
    width: 100%;
    height: 100%;
}
.goods-info {
    font-size: 12px;
    padding: 6px;
    height: 130px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    align-content: space-around;
}

.goods-title {
    font-size: 14px;
    font-weight: bold;
    flex: 2;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.shop-type {
    width: 16px;
    height: 16px;
    margin-top: -4px;
}

.goods-share {
    overflow: hidden;
    flex: 1;
}

.share-earning {
    float: left;
}

.last-num {
    float: right;
    color: #888;
}

.goods-price{
    overflow: hidden;
    flex: 1;
}

.single-price {
    float: left;
    color: #888;
}

.last-time {
    float: right;
}

.goods-ctrl {
    width: 100%;
    height: 100%;
    border: 1px solid #fd4134;
    overflow: hidden;
    flex: 1.5;
    line-height: 30px;
    border-radius: 4px;
}

.ctrl-btn {
    float: right;
    text-align: center;
    width: 30%;
    height: 100%;
    background-color: #fd4134;
    color: #fff;
}

.ctrl-btn a {
 color: #fff;
}

.group-price {
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
}

.after-price {
    color: #fd4134;
    font-size: 18px;
}

.clock-icon {
    width: 12px;
    height: 12px;
    margin-top: -3px;
}

.rules {
    position: absolute;
    top: 14px;
    right: 14px;
    padding: 4px 12px;
    background-color: rgba(0, 0, 0, 0.38);
    color: #fff;
    font-size: 13px;
    border-radius: 12px;
}